body {
  margin: 0px;
  font: 14px "Century Gothic", Futura, sans-serif;
}

.main {
  max-width: 1200px;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.menu-bar {
  background: whitesmoke;
  height: 50px;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.control-buttons {
  height: 50px;
  float: left;
}

.control-button {
  height: 100%;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #101111;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

  .control-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
  }

  .control-button:active {
    position:relative;
    top:1px;
  }

.google-button {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.now-playing {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;  
  margin-top: 12.5px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  height: 20px;
}

.google-button {
  float: right;
  height: 48px;
  box-shadow: 0px 0px !important;
  outline: 0px;
}

.search-bar {
  height: 20px;
}

.upload-modal {
  height: auto;
  width: 50%;
  transform: translate(50%,10%);
  border: solid 1px #000;
  background-color: whitesmoke;
  padding: 0px 10px 10px 10px;
}

  .upload-top {
    display: flex;
    align-items: center;
  }

  .upload-modal h3 {
    margin-right: 0;
    width: 100%;
  }
