
.sidebar-list {
    margin-top: 10px;
    font-size: 15px;
    outline: 0px;
    font-weight: 600;
    font-size: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .sidebar-list-text {
    padding:2px;
  }
  
  .sidebar-list-text-selected {
    outline: 1px;
    outline-style: auto;
    padding:2px;
  }
  