body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 50px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .now-playing {
    margin: auto;
    width: 50%;
    text-align: center;
    color: red
  }

  .menu-bar {
    background: #AAA;
    overflow: hidden;
    height: 50px;
  }
  
  .control-button {
    height: 50px;
  }

  .login-button {
    margin: auto;
    margin-top: 2.5px;
    margin-right: 3px;
    height: 45px;
    float: right;
    top: 90%
  }

  .search-bar {
    background: gray;
    color: blue;
  }
  