body {
    margin: 0px;
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
.menu-bar {
  background: whitesmoke;
  height: 50px;
  width: 100%;
  display: table;
  vertical-align: middle;
}

.control-buttons {
  height: 50px;
  float: left;
}

.control-button {
  height: 100%;
  float: left;
}

.now-playing {
  text-align: center;  
  margin-top: 12.5px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.login-button {
  float: right;
  height: 50px;
}

.search-bar {
  height: 15px;
  color: blue;
}

.react-player {
  visibility: hidden
}

.song-table {

}
